In [ ]:
# import required libraries
import sqlite3

# load the sql module to iPython
%load_ext sql

# something called as 'Cell Magic' concept

# load the database file here
%sql sqlite:///WSDA_Music.db

#Start running the SQL queries from cell below.
Mention the %%sql before each query.

TYPES OF SQL FUNCTIONS:
A. Aggregate: turns a range of numbers onto a single point of data
   1. MIN(): Returns minimum (smallest) value 
   2. MAX(): Returns maximum (largest) value
   3. AUG(): Returns average (mean) value
   4. COUNT(): Returns the count of rows of a given field
   5. SUM(): Returns the sum of all value
   6. ROUND(): reduce the number of digits after decimal. - ROUND(AVG(fieldname), number_of_digits_to_round-off)
      
B. STRING
   1. UPPER(): Convert string into upper case
   2. SUBSTR(): trim the string. Format - SUBSTR(name of the field, starting character, ending character)
   3. INSTR()
   4. LENGTH(): Return length of a string
   5. LTRIM()
   6. REPLACE()
   7. TRIM()
      
C. DATE: Allows manipulation of data that is stored in various date and time functions
   1. NOW(): Get the present date
   2. DATETIME()
   3. DATE()
   4. JULIANDAY()
   5. STRFTIME(): Format the date as required in any format. e.g. ('%Y/%m/%d', Date_field_name)
   6. TIME()

create a list of recipients of customers

to join two fields use '||'
eg. firstName || '.' || lastName
>> firstName.lastName

to convert output fields into lowercase
>> LOWER(.... code ....)

In [ ]:
%%sql 

SELECT FirstName, LastName, Country,
Lower(FirstName || '.' || LastName || '@gmail.com') AS emailListUSA
FROM Customer
WHERE country = 'USA'

TRUNCATE: shorten the string

<!-- --trim the postalcode upto 5 starting digits -->

In [ ]:
%%sql 

SELECT FirstName, LastName, Country,
Lower(FirstName || '.' || LastName || '@gmail.com') AS emailListUSA,
LENGTH(postalcode) as Len_post_code,
substr(postalcode, 1,5) as NEW
FROM Customer
WHERE country = 'USA'

Calculate ages of all employees
NOTE: keep the format as YY-MM-DD to subtract two dates to get the age

In [ ]:
%%sql 

Select LastName, FirstName, BirthDate as OG_BirthDate,
strftime('%d-%m-%Y', BirthDate) AS ModifiedDate,
strftime('%Y-%m-%d', 'now') - strftime('%Y-%m-%d', BirthDate) AS EmployeeAge
From employee

In [ ]:
Use the aggregate functions on sales data

# Range: The difference between the maximum and minimum values is the range.

In [38]:
%%sql

SELECT 
	round(sum(total),2) as Sum_OF_Invoice,
	min(total) as Lowest_in_Invoice,
	max(total) as Highest_in_Invoice,
	round(avg(total),4) as Mean_of_Invoice,
	count(total) as Total_Items_in_Invoice,
    max(total) - min(total) AS Range_of_Invoice
FROM
	Invoice

 * sqlite:///WSDA_Music.db
Done.

[(3329.46, 0.99, 1000.86, 8.0616, 413, 999.87)]

NESTING Function: A function contained within another function
E.g. UPPER(SUBSTR(fieldName, startingChar, No_of_Chars_required)