In [ ]:
# import required libraries
import sqlite3

# load the sql module to iPython
%load_ext sql

# something called as 'Cell Magic' concept

# load the database file here
%sql sqlite:///WSDA_Music.db

#Start running the SQL queries from cell below.
Mention the %%sql before each query.

#NESTED Query: A query wrapped inside of another query.
aka - subquery.

Q. Gather data about all invoices that are less than this average.

>>SELECT avg(total) from Invoice
this Query will bring a single value of the average.
Then we include this smaller query inside another query that will be fetching multiple results.

In [ ]:
%%sql 

SELECT 
	InvoiceDate,
	BillingAddress,
	BillingCity,
	total
FROM
	Invoice
WHERE
	total < (SELECT avg(total) from Invoice)
ORDER BY
	total DESC

Aggregated Subqueries
Q. how is each individual city performing against the global average sales?
A. We re using GROUP BY which will give multiple records against each city.

In [ ]:
%%sql

SELECT 
	BillingAddress,
	BillingCity,
	avg(total) AS CITY_AVERAGE,
	(SELECT avg(total) FROM Invoice) AS GLOBAL_AVERAGE	

FROM
	Invoice

GROUP BY
	BillingCity
ORDER BY
	BillingCity

Q. Subqueries without aggregate functions
in the below query, all invoice dates are greater than the date on which invoiceID was 151

In [ ]:
%%sql

SELECT
	DATE(InvoiceDate),
	BillingAddress,
	BillingCity,
	InvoiceId
FROM
	Invoice
WHERE
	InvoiceDate > 
	( SELECT InvoiceDate from Invoice WHERE InvoiceId = 151)

Q. returning multiple values from a subquery.
A. we will be providing date values as input for WHERE clause.

In [ ]:
%%sql

SELECT
	InvoiceDate,
	BillingAddress,
	BillingCity
FROM
	Invoice
WHERE
	InvoiceDate IN 

(SELECT 
	InvoiceDate
	FROM 
	Invoice
WHERE 
	InvoiceId IN (251, 253, 254))

Subqueries and DISTINCT
Q. Which tracks are not selling?

>> SELECT 	TrackI 
FR 
	InvoiceL
This will return the TrackIDs. then we need to find out which track ids are not in invoice
>>

DISTINCT: this keyword will give only unique records

Then what info we got from InvoiceLine table, we will compare with trackID in Track table.ine

In [ ]:
%%sql

SELECT 
	TrackId AS [Tracks not Sold],
	Composer,
	Name
FROM Track
WHERE	
	TrackId NOT IN 
(SELECT
	DISTINCT TrackId
FROM
	InvoiceLine)