In [ ]:
# import required libraries
import sqlite3

# load the sql module to iPython
%load_ext sql

# something called as 'Cell Magic' concept

# load the database file here
%sql sqlite:///WSDA_Music.db

#Start running the SQL queries from cell below.
Mention the %%sql before each query.

Type of SQL operators
A. Arithmetic 
1. Add +
2. Subtract -
3. Multiply *
4. Divide /
5. Modulo %

B. Comparison
1. Equal to: =
2. Not equal to: <>
3. Greater than: >
4. Less than: <
5. Greater than equal to: >=
6. Less than equal to: <=

C. Logical
1. AND
2. OR
3. IN
4. LIKE
5. BETWEEN

WHERE Clause

Q1: How many customers purchased two songs at $0.99 each?
Ans: We need to find count of customers whose Total will become (2 * 0.98)

In [ ]:
%%sql

SELECT CustomerId, BillingAddress, total , InvoiceDate
FROM Invoice
WHERE total = 1.98
ORDER BY InvoiceDate

BETWEEN and IN

Q2: How many invoices exist between 1.98 and 5.00$?
Ans: use BETWEEN x AND y query

In [ ]:
%%sql

SELECT CustomerId, BillingAddress, total , InvoiceDate
FROM Invoice
WHERE total between 1.98 AND 5.00
ORDER BY InvoiceDate

In [ ]:
Find exact search of multiple values: IN

Q2: How many invoices are exactly $1.98 or $3.96?
Ans: fieldName IN (vaalue1, value2)

In [ ]:
%%sql

SELECT CustomerId, BillingAddress, BillingCity, total , InvoiceDate
FROM Invoice
WHERE total IN (1.98, 3.96)
ORDER BY InvoiceDate

Query on text data:

Q3: How many invoices were billed in Brussels city?
Answer: Using the query WHERE fieldName = 'value'

In [ ]:
%%sql

SELECT CustomerId, BillingAddress, BillingCity, total , InvoiceDate
FROM Invoice
WHERE BillingCity = 'Brussels'
ORDER BY InvoiceDate

Query on text data:

Q4: How many invoices were billed in Brussels, Orelando, Paris cities?
Answer: WHERE fieldName IN ('value1', 'value2')

In [ ]:
%%sql

SELECT CustomerId, BillingAddress, BillingCity, total , InvoiceDate
FROM Invoice
WHERE BillingCity IN ('Brussels', 'Paris')
ORDER BY InvoiceDate

LIKE: Search Records without exact match

Q5. How many invoices were from cities that Starts with 'B'
Ans: use % after the B.

In [ ]:
%%sql

SELECT CustomerId, BillingAddress, BillingCity, total , InvoiceDate
FROM Invoice
WHERE BillingCity LIKE 'B%'
ORDER BY InvoiceDate

LIKE: Search letter that will occur anywhere in values

Q6. How many invoices were from cities that might have the value 'B'
Ans: use %  before and after the B.
NOTE: it will ignore the case of the entered word.

In [ ]:
%%sql

SELECT CustomerId, BillingAddress, BillingCity, total , InvoiceDate
FROM Invoice
WHERE BillingCity LIKE '%B%'
ORDER BY InvoiceDate

Date analysis
# If entity format is DATETIME, we can use DATE to filter as per date and TIME to filter as per time

Q. How many invoices were processed on 2010-05-22 00:00:00?

In [ ]:
%%sql

SELECT CustomerId, BillingAddress, BillingCity, total , InvoiceDate
FROM Invoice
WHERE InvoiceDate = '2010-05-22 00:00:00'
ORDER BY InvoiceDate

In [ ]:
%%sql

SELECT CustomerId, BillingAddress, BillingCity, total , InvoiceDate
FROM Invoice
WHERE DATE(InvoiceDate) = '2010-05-22'
ORDER BY InvoiceDate

Using AND clause to include multiple conditions
Q. get all invoices after 2010-05-22 and have a total of less than 3.00

In [ ]:
%%sql

SELECT CustomerId, BillingAddress, BillingCity, total , InvoiceDate
FROM Invoice
WHERE DATE(InvoiceDate) > '2010-05-22' AND total < 3.00
ORDER BY InvoiceDate

OR clause to get result of either of the filter

Q. get all invoices whos billing city starts with 'p' or starts with 'd'

In [ ]:
%%sql

SELECT CustomerId, BillingAddress, BillingCity, total , InvoiceDate
FROM Invoice
WHERE BillingCity LIKE 'p%' OR BillingCity LIKE 'd%'
ORDER BY InvoiceDate

Q. get all invoices that are greater than are greater than 1.98 from any cities that start with 'p' or 'd'

PEMDAS: Parenthesis, Exponents, Multiplication, Division, Addition Subtraction
BEMDAS: Brackets, Exponents, Multiplication, Division, Addition Subtraction

In [ ]:
%%sql

SELECT CustomerId, BillingAddress, BillingCity, total , InvoiceDate
FROM Invoice
WHERE Total > 1.98 AND (BillingCity LIKE 'p%' OR BillingCity LIKE 'd%')
ORDER BY InvoiceDate

IF THEN logic with CASE

Q. Music sale goal: as many customers as possible to spend between $7.00 and $15.00

Sales Categories:
Baseline Purchase - Between 0.99 and 1.98
Low Purchase - Between 2.00 and 6.99
Target Purchase - Between 7.00 and 15.00 
Top Performer - Above 15.00

In [ ]:
%%sql

SELECT CustomerId, BillingAddress, BillingCity, total , InvoiceDate,
CASE 
WHEN total < 2.00 THEN 'Baseline Purchase'
WHEN total BETWEEN 2.00 AND 6.99 THEN 'Low Purchase'
WHEN total BETWEEN 7.00 AND 15.00 THEN 'Target Purchase'
ELSE 'Top Performer'
END AS 'PurchaseType'

FROM Invoice

WHERE PurchaseType = 'Target Purchase'

ORDER BY InvoiceDate