## Basic Setup

In [3]:
# import required libraries
import pandas as pd
import sqlite3

In [ ]:
%pip install ipython-sql
# no need to install again once previously installed

In [4]:
# load the sql module to iPython
%load_ext sql

In [5]:
# 'Cell Magic'
%sql sqlite:///aqiDB.db

In [6]:
# begin test with sql query to list all the columns with limit to fetch first 5 rows.

In [7]:
%%sql
select * from air_quality_index
limit 5

 * sqlite:///aqiDB.db
Done.

[('India', 'Andhra_Pradesh', 'Amaravati', 'Secretariat, Amaravati - APPCB', '06-07-2024 16:00:00', 16.5150833, 80.5181667, 'PM10', 7, 44, 24),
 ('India', 'Andhra_Pradesh', 'Anantapur', 'Gulzarpet, Anantapur - APPCB', '06-07-2024 16:00:00', 14.675886, 77.593027, 'PM2.5', 29, 61, 40),
 ('India', 'Andhra_Pradesh', 'Kadapa', 'Yerramukkapalli, Kadapa - APPCB', '06-07-2024 16:00:00', 14.465052, 78.824187, 'PM2.5', 'NA', 'NA', 'NA'),
 ('India', 'Andhra_Pradesh', 'Tirupati', 'Tirumala, Tirupati - APPCB', '06-07-2024 16:00:00', 13.67, 79.35, 'NH3', 1, 2, 1),
 ('India', 'Andhra_Pradesh', 'Tirupati', 'Tirumala, Tirupati - APPCB', '06-07-2024 16:00:00', 13.67, 79.35, 'SO2', 1, 7, 3)]

# SQL Data Analysis for Air Quality Index

### Q1. What is the average pollutant level (pollutant_avg) for each pollutant type across all cities?

In [8]:
%%sql
SELECT pollutant_id, AVG(pollutant_avg) as average_pollutant_level
FROM air_quality_index
GROUP BY pollutant_id;

 * sqlite:///aqiDB.db
Done.

[('CO', 30.813807531380753),
 ('NH3', 4.651658767772512),
 ('NO2', 16.437894736842104),
 ('OZONE', 25.151063829787233),
 ('PM10', 43.83367983367983),
 ('PM2.5', 30.374485596707817),
 ('SO2', 11.265822784810126)]

### Q2. Which city has the highest average pollutant level for PM10?

In [9]:
%%sql
SELECT city, MAX(pollutant_avg) as max_pm10_level
FROM air_quality_index
WHERE pollutant_id = 'PM10' AND pollutant_avg <> 'NA'
GROUP BY city
ORDER BY max_pm10_level DESC
LIMIT 1;

 * sqlite:///aqiDB.db
Done.

[('Bundi', 237)]

### Q3. How does the average pollutant level of PM2.5 compare between different states?

In [ ]:
%%sql
SELECT state, round(AVG(pollutant_avg), 2) as average_pm2_5_level
FROM air_quality_index
WHERE pollutant_id = 'PM2.5'
GROUP BY state;

### Q4. What is the trend of pollutant levels over time for a specific city?

In [ ]:
%%sql
SELECT city, station, last_update, pollutant_avg
FROM air_quality_index
WHERE city = 'Amaravati'
ORDER BY last_update;

Considering city as Amravati. The results obtained are not useful as update time is same for all the data.

### Q5. Which stations have recorded the highest maximum pollutant levels (pollutant_max) for each pollutant?

In [ ]:
%%sql
SELECT station, pollutant_id, MAX(pollutant_max) as max_pollutant_level
FROM air_quality_index
WHERE pollutant_max <> 'NA'
GROUP BY station, pollutant_id
ORDER BY max_pollutant_level DESC;

### Q6. Which city has the highest average pollutant level for PM10 and PM2.5 combined?

In [ ]:
%%sql
SELECT city, AVG(pollutant_avg) as average_pollutant_level
FROM air_quality_index
WHERE pollutant_id IN ('PM10', 'PM2.5')
GROUP BY city
ORDER BY average_pollutant_level DESC
LIMIT 1;

### Q7. Are there any significant differences in pollutant levels between urban and rural stations?

In [ ]:
%%sql
SELECT station, AVG(pollutant_avg) as average_pollutant_level
FROM air_quality_index
GROUP BY station
ORDER BY average_pollutant_level DESC;

### Q8. Which pollutants have shown the most variation in their levels (difference between pollutant_max and pollutant_min) across different stations?

In [ ]:
%%sql
SELECT pollutant_id, AVG(pollutant_max - pollutant_min) as average_variation
FROM air_quality_index
GROUP BY pollutant_id
ORDER BY average_variation DESC;

### Q9. How do pollutant levels vary by geographical coordinates (latitude and longitude)?

In [ ]:
%%sql
SELECT latitude, longitude, AVG(pollutant_avg) as average_pollutant_level
FROM air_quality_index
GROUP BY latitude, longitude;

### Q.10 What are the top five stations with the highest average pollutant levels for PM10 and PM2.5?

In [ ]:
%%sql
SELECT station, pollutant_id, AVG(pollutant_avg) as average_pollutant_level
FROM air_quality_index
WHERE pollutant_id IN ('PM10', 'PM2.5')
GROUP BY station, pollutant_id
ORDER BY average_pollutant_level DESC
LIMIT 5;