In [ ]:
# import required libraries
import sqlite3

# load the sql module to iPython
%load_ext sql

# something called as 'Cell Magic' concept

# load the database file here
%sql sqlite:///WSDA_Music.db

#Start running the SQL queries from cell below.
Mention the %%sql before each query.

Data Manipulation Language (DML): 
SQL Statements used to alter the data stored in the tables of database
Add: INSERT
Modify: UPDATE
Delete: DELETE

insert a new artist into Artst table

Syntax: 
INSERT INTO
	Table_Name (Column_Name)
VALUES 
	('Value_1'), ('Value_2')

In [ ]:
%%sql 

INSERT INTO
	Artist (Name)
VALUES 
	('Jordan Taylor'), ('Biggie Smalls')

In [ ]:
%%sql

select * from artist
order by artistid desc

update user 

UPDATE is used with WHERE clause
NOTE: Imp to use WHERE clause, otherwise all the rows will be updated with set values.

In [ ]:
%%sql

UPDATE
	Artist
SET 
    Name = 'Jason Taylor'
WHERE 
    ArtistID = 276

#delete a user

DELETE
NOTE: use with WHERE clause

In [ ]:
%%sql

DELETE FROM 
    Artist
WHERE
    ArtistID = 276