In [ ]:
# import required libraries
import sqlite3

# load the sql module to iPython
%load_ext sql

# something called as 'Cell Magic' concept

# load the database file here
%sql sqlite:///WSDA_Music.db

#Start running the SQL queries from cell below.
Mention the %%sql before each query.

01. Fetch all data from given table

In [ ]:
%%sql

SELECT * FROM Employee

02. Fetch data from particular column of a table

In [ ]:
%%sql

SELECT FirstName, LastName from Employee

03. Alias in table column names
use [] or "text" if using spaces between words of a column name

In [ ]:
%%sql

SELECT FirstName as Fname, LastName [Last Name] 
FROM Employee

04. Sort columns by order
-- keyword: 'ORDER BY'
-- sort by ascending order: ASC (by default is also ascending)
-- sort by descending order: DESC

In [ ]:
%%sql

SELECT FirstName, LastName, Email
from Employee
Order by FirstName DESC

05. add sort in multiple columns

In [ ]:
%%sql

SELECT FirstName, LastName, Email
from Employee
Order by FirstName DESC, LastName ASC

06. Limit the number of query results
keyword: LIMIT
note: this keyword should comes after ORDER BY clause (if used)

In [ ]:
%%sql

SELECT FirstName, LastName, Email
from Customer
ORDER BY FirstName desc
LIMIT 5